
.footer {
    padding: 0px 46px;
    z-index: 3;
}

.wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.footer panel {
    margin-bottom:5px !important;
}


.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-right: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #ddd;
}


@media (min-width: 1317px) and (max-width:1426px) {
    .navbar-default .navbar-nav > li > a {
        
        font-size: 14px;
        padding: 6px 8px 7px 8px;
    }
}


@media (min-width: 1244px) and (max-width:1316px) {
    .navbar-default .navbar-nav > li > a {
        
        font-size: 14px;
        padding: 6px 7px 7px 7px;
    }
}




@media (min-width: 768px) and (max-width:1292px) {

    .navbar-toggle {
        display:block;
    }
    .navbar-collapse.collapse{
        display:none!important;

    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
  
    .navbar-header {
        float: none;
    }
}





    @media (min-width: 360px) and (max-width:767px) {

        .footer {
            width: 100%;
            padding: 0px -45px;
            padding: 0px 46px;
        }

        .panel-default > .panel-heading1 {
            min-height: 41px;
        }
    }

    @media (min-width: 360px) and (max-width:1144px) {
        .inpo {
            margin-top: 1%;
        }
    }
#dialog-form-AboutUs .modal-backdrop {
    background: #979da0;
}

#dialog-form-AboutUs .modal-header .close {
    font-size: 29px !important;
    line-height: 29px !important;
    color: #002949 !important;
    padding: 0 5px !IMPORTANT;
    opacity: 1 !important;
    font-weight: bolder;
}

#dialog-form-AboutUs .modal-content {
    border-radius: 5px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    border: 1px solid rgba(0,0,0,.2);
}
#dialog-form-AboutUs .modal-title {
    margin-bottom: 10px;
}

/* this is for the msg when table does'nt have any records in it */
.emptymsg-txt {
    margin-left: 25px;
    font-size: 16px;
}

@media (max-width: 768px) {
    .emptymsg-txt {
        margin-left: 0;
        margin-top: 15px;
        font-size: 16px;
        display: block;
    }
}
/******************************/
