@using TabFusionRMS.Resource
@{
    ViewData["Title"] = Languages.get_Translation("Retention");
    Layout = "~/Views/Shared/_LayoutRetention.cshtml";
}
<section class="content-header">
    <h1>
        <span id="title">@Languages.get_Translation("Retention")</span>
    </h1>
</section>
<hr/>

