.outerToolbarContainer {
   margin: auto;
}

.toolbar {
   width: 99%;
   border: 1px solid #dfdfdf;
   background: #f8f8f8;
   margin: 2px auto;
}

.headerToolbarDiv {
   overflow: auto;
   white-space: nowrap;
}

.headerToolbarTabs > ul > li > a {
   border-radius: 0px !important;
}

.headerToolbarTabs > .nav-tabs, .headerToolbarTabs > .tab-content > .tab-pane {
   height: 100%;
       border-bottom: 1px solid #dfdfdf;
}

.headerToolbarTabs > .nav-tabs > li.active > a {
   background: #FFF;
   border-bottom: 0px;
   color: #232323;
}

.footerToolbarDiv {
    text-align: center;
    overflow: visible;
    white-space: nowrap;
    height: 43px;
    border: 0px;
    padding: 5px;
}

/*.tabContentBtn {
   padding: 0px 15px 0px 15px;
   background-color: transparent;
   border: blue;
}*/
#viewTab button .fa{font-size:20px;}
.verticalDivider {
    position: relative;
    border-right: 1px solid #dddddd;
    margin-right: 10px;
    margin-left: 10px;
}
.headerToolbarTabs > .tab-content > .tab-pane.active { background:#fff;padding: 5px;}

#customTab .form-group {margin-left:15px;margin-right:15px;}
.fa-fullscreen:before {content: "\f0b2";}
.btn-cus {padding: 1px 4px;}
.btn-cus > .icon {width: 30px;height: 25px;top: 2px;}
