html {
   overflow: hidden;
   -ms-touch-action: none;
}

body {
   background: white;
   overflow: hidden;
   color: #232323;
   height: 100%;
   margin: 0;
   -webkit-user-select: none;
   -webkit-text-size-adjust: none;
   font-family: dp;
}

.btn-xs {
   height: 25px;
}

.input-xs {
   height: 25px;
   line-height: 1px;
}

#findTextPanel {
   /*background: #eeeeee;
   background: -webkit-linear-gradient(top, #eeeeee, #cccccc);
   background: -moz-linear-gradient(top, #eeeeee, #cccccc);
   background: -ms-linear-gradient(top, #eeeeee, #cccccc);
   background: -o-linear-gradient(top, #eeeeee, #cccccc);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );*/ /* IE9 */
   /*background: linear-gradient(to top, #eeeeee, #cccccc);
   border-bottom: solid 1px;
   border-left: solid 1px;
   border-left-color: darkgray;
   border-bottom-color: darkgrey;
   border-bottom-right-radius: 2px;
   border-bottom-left-radius: 2px;*/
   transition: all 0.15s ease-out;
   padding: 6px 6px 6px 6px;
   position: fixed;
   display: block;
   min-width: 240px;
   height: 33px;
   right: 138px;
}

   #findTextPanel.visiblePanel {
      z-index: 1050;
     /*left: 891px;
     right: 221px;*/
   }
    

#imageViewerContainer {
   padding: 6px 6px 6px 6px;
   overflow: hidden;
   position: fixed;
   display: block;
   left: 230px;
   right: 230px;
   bottom: 50px;
   top: 115px;
   width:calc(100% - 230px);
}

#imageViewerDiv {
   position: relative;
   width: 100%;
   height: 100%;
   background-color: #78858e;
   box-shadow: inset 0px 0px 30px #575f65;
}

.nav-tabs {
   overflow-x: auto;
   overflow-y: hidden;
   width: 100%;
   list-style-type: none !important;
   margin: 0 !important;
   padding: 0 !important;
   display: -webkit-box;
   display: -ms-flexbox;
}

   .nav-tabs > li {
      float: none !important;
      display: table-cell !important;
   }

      .nav-tabs > li > a {
         display: block !important;
      }

.tab-pane {
   top: 3px;
   overflow: auto;
   white-space: nowrap;
}

/*button {
   color: #323232 !important;
}

   button:disabled {
      opacity: 0.25 !important;
   }

a {
   color: #232323;
}*/

#thumbnailsContextMenu {
   position: absolute;
   display: none;
}

.dropdown-menu > li > button {
   border-radius: 0px;
   border: none;
}

#tooltip {
   position: absolute;
   display: none;
   border-radius: 1px;
   border: 1px solid silver;
   padding-left: 4px;
   padding-right: 4px;
   background-color: #F0F0F0;
   font-size: 12px !important;
}


#thumbnailsBookmarksPanel, #annotationsPanelsContainer {
   width: 100%;
   height: 100%;
}

   #thumbnailsBookmarksPanel > .tab-content {
      padding-bottom: 20%;
      height: 100%;
   }

   #thumbnailsBookmarksPanel > ul {
      overflow: hidden;
   }

      #thumbnailsBookmarksPanel > ul > li {
         text-align: center;
         width: 47% !important;
      }

         #thumbnailsBookmarksPanel > ul > li > a {
            margin-right: 0 !important;
         }

         #thumbnailsBookmarksPanel > ul > li.active > a {
            color: #002949;
         }

   #annotationsPanelsContainer > div > label {
      width: 100%;
      border: 1px solid;
      border-color: silver;
      border-top: none;
   }

#thumbnailsTab, #bookmarksTab {
   overflow: hidden;
   width: 100% !important;
   height: 100% !important;
}

#bookmarksTab {
   overflow: auto !important;
}

#loadingThumbnailsBar {
   display: none;
   position: absolute;
   bottom: 0px;
   left: 6px;
   z-index: 10000;
   border: 1px solid;
   border-color: silver;
}

#loadingAnnotationsBar {
   display: none;
   position: absolute;
   bottom: 3px;
   right: 15px;
   z-index: 10000;
   border: 1px solid;
   border-color: silver;
}

#objectsBtnsPanel {
   text-align: center;
   width: 100%;
   height: 100%;
   border: 1px solid;
   border-color: silver;
   border-radius: 0px;
   overflow: auto;
}

.panel-heading {
   background: #eeeeee;
   background: -webkit-linear-gradient(top, #eeeeee, #cccccc);
   background: -moz-linear-gradient(top, #eeeeee, #cccccc);
   background: -ms-linear-gradient(top, #eeeeee, #cccccc);
   background: -o-linear-gradient(top, #eeeeee, #cccccc);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE9 */
   background: linear-gradient(to top, #eeeeee, #cccccc);
}

.annotationObjectBtn {
   padding: inherit;
}

.annotationsObjectsListItem {
   height: 55px;
   border: 1px solid;
   border-radius: 0px;
   border-color: silver;
   padding: initial !important;
   padding-left: 20px !important;
   text-align: left;
   background-position: left top,left bottom;
   background-repeat: no-repeat;
   background-size: 16px;
}

.collapse-expand {
   border: none;
   text-align: center;
   background-repeat: no-repeat;
   background-position-y: center;
   background-color: transparent;
   width: 100%;
   border: 1px solid;
   border-radius: 0px;
   border-color: silver;
   padding: initial;
}

.toggleToExpand {
   background-image: url(../../../Resources/Images/Icons/Expand.png);
}

.toggleToCollapse {
   background-image: url(../../../Resources/Images/Icons/Collapse.png);
}

.annotationsObjectsListItem {
   width: 100%;
}

.panel {
   border: none;
   background-color: transparent;
}

.inputGroupContainer {
   box-sizing: border-box;
   padding-right: 10px;
   padding-left: 10px;
   display: inline-table;
       vertical-align: middle;
}

#textToFind {
   width: 150px;
}

.checked {
   background-color: #cccccc !important;
   opacity: 0.7;
}
#selectTextMode.checked > span > i.fa-italic {
       background-color: #cccccc !important;
}
.fa-selectText:hover i.fa-italic{
    background: #f3f3f3;
}
@media screen and (max-width: 1024px) {
   #imageViewerContainer {
      left: 30px;
      right: 30px;
   }

        #findTextPanel {
            /*right: 36px;*/
            right: 139px;  
        }
}

/*CUSTOM*/
.headerToolbarTabs > .nav-tabs.nav-cus > li.active > a {color: #002949;}
.headerToolbarTabs > .tab-content > .tab-pane {border-bottom: none !important;}
.headerToolbarTabs .tab-content {padding-top: 5px;}
.nav-tabs.nav-cus {overflow:auto;}
.nav-tabs.nav-cus > li.active > a, .nav-tabs.nav-cus > li > a:hover { 
 color: #002949;
 font-weight:500;
}
.nav-tabs.nav-cus > li > a {
 white-space: nowrap;
 cursor:pointer;
 color: rgba(35, 35, 35, 0.78);
}
.nav-cus > li.disabled > a {opacity:0.5;}
#attachmentMenu { width:100%;}
#attachmentMenu .tab-content .tab-pane{ overflow-y: hidden !important;overflow-x: auto;}
.fa-fitToScreen {font-size: 14px !important; top: 5px; position: absolute; right: 5px;}
.tab-menu ul.nav-cus li {border-right: none;}
.fa-text4AllPage {top:-4px;left:4px;}
.fa-text4AllPage i:first-child {background-color:#ffffff;}
.fa-text4AllPage i:last-child {left: -5px; position: absolute; top: 7px; background: white;}
.fa-text4SelectedPage i:last-child {top: 5px;}
.fa-doublePage {padding:2px 10px !important;}
.fa-doublePage span{display:inline !important;}
.fa-panZoomIcon i:last-child { font-size: 10px; position: absolute; top: -1px; left: -1px;font-weight: bold; }
.fa-zoomIcon i:last-child { font-size: 12px; position: absolute; top: -2px; }
.fa-zoomToIcon i:last-child { font-size: 10px; position: absolute; left: -1px; }
.fa-selectText i {font-style:normal;font-size:28px;}
.fa-selectText { width:50px;}
.fa-selectText span {left:-5px;}
.fa-selectText i:last-child {position: absolute;left: 21px;background: white;top: 2px; 
                             -ms-transform: rotate(8deg); /* IE 9 */ 
                             -webkit-transform: rotate(8deg); /* Chrome, Safari, Opera */
                             transform: rotate(-8deg);width: 8px;font-size: 27px;}

.fa-autoPanIcon i:last-child {position: absolute;left: 1px;top: 4px;}
.fa-inertiaScrollIcon i:first-child {position: absolute;left: 6px;top: -8px;
    -ms-transform: rotate(90deg); /* IE 9 */ 
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);}
.fa-inertiaScrollIcon i:nth-child(2){font-size: 6px;position: absolute;top: 9px;left: 9px;
    -ms-transform: rotate(45deg); /* IE 9 */ 
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
.fa-inertiaScrollIcon i:last-child {position: absolute;left: 3px;top: 8px;
    -ms-transform: rotate(270deg); /* IE 9 */ 
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
}

.fa-showTextIndicators i:last-child { font-size: 12px; position: absolute; top: -1px;left:1px; }
.fa-showLinks i:last-child { font-size: 12px; position: absolute; top: -1px;left:2px; }
.fa-selectAllText i:first-child { border: dashed 2px #002949; padding: 0px 9px; font-weight: bold; font-style: normal; position: absolute; top: -2px; left: -3px; }
.fa-copyText i:last-child { position: absolute;top: 6px;left: 5px;}
.fa-findText i:last-child { position: absolute;top: 1px;left: 7px;font-style: normal;font-weight: bold;}

#customTab {padding-top:10px;}
.btn-docopt {
    color:#002949;
    background-color: #fff;
    border-color: #ccc;    
}
.btn-docopt:hover, .btn-docopt:focus {
    color: #002949;
    background-color: #f3f3f3;
    border-color: #a9a9a9;
}
#customTab .form-group {
    margin-left: 0px;
    margin-right: 10px;
}
.verticalDivider {
    border-right: 1px solid #ececec;
    margin-left: 0px;
}
.modal-backdrop {z-index:1029 !important;}
a:hover, a:focus {
    color: #002949 !important;
    text-decoration: underline;
}





@media only screen and (max-width: 1374px) {
   .headerToolbarTabs .col-md-5{
    width:75%;
   }
   .headerToolbarTabs .col-md-5.drop{
    width:100%;
   }
   .sidebar-left{
    top:158px !important;
   }
    #imageViewerContainer {
        top:158px !important;
    }
  }
  @media only screen and (max-width: 918px) {
   .sidebar-left{
    top:60px !important;
   }
    #imageViewerContainer {
        top:60px !important;
    }
   .headerToolbarTabs .col-md-5{
    width:100%;
   }
  }
#customTab .form-group {
    margin-left: 5px !important;
    margin-right: 0px !important;
}
.p-t-7 {padding-top: 7px !important;}

.tree {
   padding-left: 10px !important;
}

   .tree, .tree ul {
      font: normal normal 14px/20px Helvetica, Arial, sans-serif;
      list-style-type: none;
      overflow: hidden;
      padding-left: 5px;
   }

      .tree li {
         font-size: 12px;
         background-image: url(../Images/Icons/Bookmarks.png);
         background-repeat: no-repeat;
         background-position: 8px .3em;
         padding-left: 10px;
         background-size: 16px 16px;
         position: relative;
         padding-bottom: 5px;
      }

      .tree .last-one::after {
         background-color: red;
      }

      .tree .last > span::before {
         content: "";
         height: 100%;
         position: absolute;
         border-left: 1px solid white;
         top: 11px;
         left: 0px;
         z-index: 1;
      }

      .tree .last.hasChildren > span::before {
         left: 5px;
      }

      .tree .last > ul::before {
         content: "";
         position: absolute;
         border-left: 1px solid white;
         height: 100%;
         z-index: 1;
         top: 15px;
         left: 0px;
      }

      .tree > li::before {
         display: none;
      }

      .tree > li::after {
         display: none;
      }

      .tree li:hover {
         cursor: pointer;
      }

      .tree li input {
         width: 1em;
         height: 1em;
         position: absolute;
         left: -0.4em;
         top: 0;
         opacity: 0;
         cursor: pointer;
         z-index: 1;
      }

         .tree li input + label {
            width: 16px;
            height: 16px;
            position: absolute;
            z-index: 2;
            top: 5px;
            left: -5px;
         }

         .tree li input + label {
            background: url(../../Resources/Images/Icons/Expand.png) no-repeat;
            background-size: 11px !important;
         }

         .tree li input:checked + label {
            background: url(../../Resources/Images/Icons/Collapse.png) no-repeat !important;
            background-size: 11px !important;
         }

         .tree li input + label + span + ul {
            display: none;
         }

         .tree li input:checked + label + span + ul {
            display: block;
         }

      .tree li.hasChildren > span {
         position: relative;
         margin-left: -15px;
         padding-left: 35px;
      }

         .tree li.hasChildren > span.checked {
            background-image: linear-gradient(to right,transparent 35px, #E3E3E3 10px);
         }

      .tree li.hasChildren input + label + span::after {
         content: "";
         border-left: 1px solid silver;
         position: absolute;
         left: 20px;
         top: 16px;
         height: 0px;
      }

      .tree li.hasChildren input:checked + label + span::after {
         height: 100%;
      }

      .tree li span {
         padding-left: 20px;
         display: list-item;
      }

         .tree li span.checked {
            background-image: linear-gradient(to right,transparent 20px, #E3E3E3 10px);
            background-color: transparent !important;
            outline: none !important;
         }

      .tree li::before, .tree li::after {
         content: '';
         position: absolute;
         left: 0;
      }

      .tree li::before {
         border-top: 1px solid silver;
         top: 10px;
         width: 10px;
         height: 0;
      }

      .tree li:after {
         border-left: 1px solid silver;
         height: 100%;
         width: 0px;
         top: -10px;
      }
.sidebarLiActive {
    background-color: red;
}