<div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="control-label col-sm-3">
                        <span>@Model.label</span>
                    </label>
                    <div class="col-sm-8">
                        <select id="DDLfavorite" Class="form-control">
                            <option value="0">@Model.placeholder</option>
                            @foreach(var item in Model.ListAddtoFavorite){
                                <option value="@item.value">@item.text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div Class="col-sm-12">
                <span id="addtoFavlblError" style="color:Red;"></span>
            </div>
        </div>
    </div>
    <div Class="modal-footer">
        @*<div Class="col-xs-12">*@
            
            <button  onclick="dlgClose.CloseDialog(false)"  style="float:right;" Class="btn btn-default">Cancel</button>
           <button  id="AddtofavoriteOK" style="float:right; margin-right:5px;"  Class="btn btn-primary">Save</button>
        @*</div>*@
    </div>

</div>
<Script>
    //vrClientsRes["FavoriteListDdl"];
    //vrClientsRes["lblAddFavourite"];
</Script>