<div>
    <form onsubmit="return false">
        <div class="modal-body">
            <div style="max-height: 400px; overflow:auto">
                <table class="table-condensed" style="width:100%">
                    <tbody id="addFields">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">

                <button onclick='$("#BasicDialog").hide()' type="button" class="btn btn-default" style="float: right;" data-dismiss="modal">Cancel</button>
                <input type="submit" value="Save" id="BtnAddNewRow" class="btn btn-primary" style="float: right;margin-right:5px;" />
            </div>
        </div>
    </form>
</div>
